{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>"Experience automotive excellence from start to finish with our comprehensive suite of services. From sales to repairs, maintenance to consultations, our team is dedicated to providing you with a seamless and satisfying experience that exceeds your expectations at every turn. Discover the difference of our unparalleled commitment to excellence – where every interaction is a testament to our dedication to your satisfaction."</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>"Turn your travel dreams into reality – our complimentary rental service puts the keys to adventure right in your hands, free from the constraints of traditional car ownership".</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>"Zoom into your destination with lightning speed – our super-fast rental service ensures you're always ahead of the curve, leaving sluggish travel in the dust."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>"Revitalize your ride with our lightning-fast repair service – because every moment off the road is a moment away from adventure."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>"Keep your cool on the hottest of days – our air conditioning service ensures your journey remains refreshingly comfortable, even when the sun is blazing outside."</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>"Keep your engine purring like a contented cat – our swift oil change service ensures your vehicle performs at its peak, so you can conquer the road ahead with confidence."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>"Revive your engine's roar with our expert repair service – because every rev is a testament to our commitment to keeping you cruising smoothly on your journey."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>"Welcome to our automotive haven – where top-notch service meets a world of possibilities. Step into our dealership and let us guide you toward your dream ride, with a commitment to excellence that transcends expectations."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>"Your safety is our priority – step into our dealership and experience peace of mind knowing that every vehicle is meticulously inspected and equipped with cutting-edge security features, ensuring you drive with confidence on every journey."</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>"Entrust your automotive needs to our team of trusted agents – dedicated professionals committed to guiding you through every step of your journey with integrity, expertise, and a personalized touch that ensures your satisfaction is our top priority."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <video width="320" height="240" controls>
                    <source src="C:\Users\ADMIN\Downloads\NM_FRIDAYBATCH_FSWD_PROJECT-main\NM_FRIDAYBATCH_FSWD_PROJECT-main\cardealer\static\img\service_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>   
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>Certainly! Here's a concise overview of our car rental services:

                        "We offer a comprehensive range of meticulously maintained vehicles, tailored to suit your travel needs, complemented by exceptional customer service and a commitment to cleanliness and convenience."</p>
                    <p class="mb-0">"Through strategic initiatives focusing on technology integration, staff training, and enhanced vehicle maintenance, our car rental company successfully transformed customer experience, resulting in higher satisfaction rates and increased loyalty."</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
